.btn-create {
  background-color: deepskyblue !important;
  border-color: deepskyblue !important;
  color: #fff !important;
}

.btn-create:hover {
  background-color: #00aaff !important; 
  border-color: #00aaff !important;
}
